body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

input[type=button] {
    background-color: #009deb;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}